html, body {
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: 'Noto Sans', sans-serif;
  font-size: 24px;
  line-height: 35px;
  overflow-x: hidden;
  text-align: center;
}

a { color: inherit; }

html {
  overflow-x: initial !important;
}

div {
  border-radius: 20px;
  padding: 10px;
  max-width: 800px;
  margin: auto;
  border-style: solid;
  border: 4px solid #ffffff;
}

.bandcamp, .youtube, .discord, .spotifyuser, .reddit, .steam, .quaver, {
  width: 40px;
  height: 40px;
  border: none;
  transition: transform .2s cubic-bezier(.5,-.75,.7,2);
  filter:invert(100%)
}

.replit, .socialrumbles, .quaver, .tetrio .roblox {
  width: 40px;
  height: 40px;
  border: none;
  transition: transform .2s cubic-bezier(.5,-.75,.7,2);
}

.bandcamp {
  background: url("social-media-icons/bandcamp.svg");
}

.youtube {
  background: url("social-media-icons/youtube.svg");
}

.discord {
  background: url("social-media-icons/discord.svg");
}

.socialrumbles {
  background: url("social-media-icons/socialrumbles.svg");
}

.replit {
  background: url("social-media-icons/replit.svg");
}

.spotifyuser {
  background: url("social-media-icons/spotifyuser.svg");
}

.reddit {
  background: url("social-media-icons/reddit.svg");
}

.steam {
  background: url("social-media-icons/steam.svg");
}

.quaver {
  background: url("social-media-icons/quaver.svg");
}

.tetrio {
  background: url("social-media-icons/tetrio.svg");
}

.roblox {
  background: url("social-media-icons/roblox.svg");
}

.bandcamp, .youtube, .discord, .spotifyuser, .reddit, .steam, .quaver, .replit, .socialrumbles, .quaver, .tetrio .roblox {
  margin-left: 10px;
  bgcolor="#000000"
}